<body>
    

    

<table class="table table-striped">
    <thead>
        <tr>
            <th class="image-container"><img src="assets/icons/heart_icon.png" alt="Vie"></th>
            <th (click)="afficheMembre()" [style.color]="color" class="image-container"><img id="membres" src="assets/icons/crew.png" alt="Membres"></th>
            <th class="image-container"><img src="assets/icons/sword.png" alt="Force"></th>
            <th class="image-container"><img src="assets/icons/ship.png" alt="Robustesse"></th>
            <th class="image-container"><img src="assets/icons/coins.png" alt="Trésor"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><i>PV : </i><b>{{partie.membres[0].pv}}</b></td>
            <td><i>Équipage : </i><b>{{partie.membres.length}}</b></td>
            <td><i>Force totale : </i><b>{{partie.forceTotale}}</b></td>
            <td><i>Robustesse bateau : </i><b>{{partie.navire?.robustesse}}</b></td>
            <td><i>Trésor : </i><b>{{partie.tresor}}</b></td>
        </tr>
    </tbody>
</table>

<table *ngIf="visible"  class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Nom</th>
            <th>Vie</th>
            <th>Force</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let membre of partie.membres">
            <td><img
                class="img-pirate"
                src="../../assets/pirates/{{ membre.pirate?.nom }}.png"
                alt="image membre"
              /></td>
            <td>{{membre.pirate?.nom}}</td>
            <td>{{membre.pv}}</td>
            <td>{{membre.power}}</td>
        </tr>
    </tbody>
</table>


</body>