body {
    position:relative;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    vertical-align: middle;
    width:80%;
    background-color: rgba(68, 50, 46, 0.9);
    
} 

td, th, table, thead, tbody, tr {
    background-color:transparent;
    color: rgb(250, 238, 217);
}

:host {
    background-color: transparent;
  }

img {
    width:calc(100vh / 10);
}

#membres:hover {
transform: scale(1.05);
cursor:pointer;
}