<table class="table table-striped">
    <thead>
        <tr>
            <th>Vie</th>
            <th (click)="afficheMembre()" [style.color]="color">Membre</th>
            <th>Robustesse</th>
            <th>Force</th>
            <th>Tresor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{partie.membres[0].pv}}</td>
            <td>{{partie.membres.length}}</td>
            <td>{{partie.navire?.robustesse}}</td>
            <td>{{partie.forceTotale}}</td>
            <td>{{partie.tresor}}</td>
        </tr>
    </tbody>
</table>

<table *ngIf="visible"  class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Vie</th>
            <th>Force</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let membre of partie.membres">
            <td>{{membre.pirate?.nom}}</td>
            <td>{{membre.pv}}</td>
            <td>{{membre.power}}</td>
        </tr>
    </tbody>
</table>