<br />
<br />

<button (click)="newGame()" class="btn btn-danger">
  Nouvelle partie <i class="bi bi-plus-circle"></i>
</button>
<div id="container">
  <div id="partieEnCours" *ngIf="partie">
    <button class="btn btn-success" (click)="continueGame()">
      Reprendre partie <i class="bi bi-arrow-circle"></i>
    </button>
    <table>
      Partie en cours
      <tr>
        <th>Début</th>
        <th>Score</th>
        <th *ngIf="partie.membres[0]">Capitaine</th>
        <th *ngIf="partie.ile?.mer">Mer</th>
        <th *ngIf="partie.ile?.nom">Ile</th>
      </tr>
      <tr>
        <td>{{ partie.dateDebut }}</td>
        <td>{{ partie.duree }}</td>
        <td *ngIf="partie.membres[0]">{{ partie.membres[0].pirate?.nom }}</td>
        <td *ngIf="partie.ile?.mer">{{ partie.ile?.mer }}</td>
        <td *ngIf="partie.ile?.nom">{{ partie.ile?.nom }}</td>
      </tr>
    </table>
  </div>
  <br />
  <div id="leaderboard">
    <table border="1">
      Leaderboard
      <tr>
        <th>Joueur</th>
        <th>Score</th>
        <th>Date</th>
        <th>Terminé ?</th>
      </tr>
      <tr *ngFor="let p of leaderboard">
        <td>{{ p.joueur!.login }}</td>
        <td>{{ p.duree }}</td>
        <td>{{ p.dateDebut }}</td>
        <td>{{ p.termine }}</td>
      </tr>
    </table>
  </div>
  <br>
  <div id="historique">
    <table border="1">
      Mon Historique
      <tr>
        <th>Score</th>
        <th>Date</th>
        <th>Terminé ?</th>
      </tr>
      <tr *ngFor="let p of historique">
        <td>{{ p.duree }}</td>
        <td>{{ p.dateDebut }}</td>
        <td>{{ p.termine }}</td>
      </tr>
    </table>
  </div>
</div>
