<br />
<br />
<button class="btn btn-success" (click)="continueGame()">
  Démarrer partie <i class="bi bi-plus-circle"></i>
</button>

<div id="container">
  <div id="partieEnCours" *ngIf="partie">
    <table>  Partie en cours
     <tr>
        <th>Début</th>
        <th>Score</th>
        <th>Capitaine</th>
        <th>Mer</th>
        <th>Ile</th>
     </tr>
     <tr>
        <td>{{partie.dateDebut}}</td>
        <td>{{partie.duree}}</td>
        <td *ngIf="partie.membres[0]">{{partie.membres[0].pirate?.nom}}</td>
        <td>{{partie.ile?.mer}}</td>
        <td>{{partie.ile}}</td>
     </tr>
    
    </table>
  </div>
  <div id="leaderboard">
    <table>
      Leaderboard
      <tr>
        <th>Joueur</th>
        <th>Score</th>
        <th>Date</th>
     </tr>
     <tr *ngFor="let p of parties">
        <td>NOM_JOUEUR</td>
        <td>{{p.duree}}</td>
        <td>{{p.dateDebut}}</td>
     </tr>
    </table>
  </div>
  <div id="historique">
    <table>
      Historique
    </table>
  </div>
</div>
