<br />
<br />
<button class="btn btn-success" (click)="newGame()">
  Nouvelle partie <i class="bi bi-plus-circle"></i>
</button>

<div id="container">
  <div id="partieEnCours">
    <table>  Partie en cours
     <tr>
        <th>Début</th>
        <th>Score</th>
     </tr>
     <tr>
        <td>2023-10-10</td>
        <td>29</td>
     </tr>
    
    </table>
  </div>
  <div id="leaderboard">
    <table>
      Leaderboard
      <tr>
        <th>Joueur</th>
        <th>Score</th>
     </tr>
     <tr>
        <td>Jordan</td>
        <td>29</td>
     </tr>
    </table>
  </div>
  <div id="historique">
    <table>
      Historique
    </table>
  </div>
</div>
