<p>ile works!</p>

<p *ngIf="ile">Ile actuelle : {{ showIle() }}</p>
<p>Durée restante : {{joursRestants}}</p>

<div *ngIf="ile.auberge">
  <table>
    <tr>
      <th>Auberge</th>
    </tr>
    <tr><img src="assets/buildings/auberge.png" alt="imageAuberge"/></tr>
    
    <tr *ngFor="let m of partie.membres">
        <td>[Nom : {{m.pirate?.nom}}]</td>
        <td>[PV : {{m.pv}}]</td>
        <td>[PV max : {{m.pirate?.pv}}]</td>
        <td><button class="btn btn-success" (click)="rest(m)">Soigner un membre de l'équipage</button></td>
    </tr>

  </table>
</div>


<div *ngIf="ile.taverne">
    <table>
      <tr>
        <th>Taverne</th>
    </tr>
    <tr><img src="assets/buildings/taverne.png" alt="imageTaverne"/></tr>
    <tr><button (click)="recruit()">Recruter un pirate</button></tr>
    </table>
  </div>

  <div *ngIf="ile.chantier">
    <table>
      <tr>
        <th>Chantier naval</th>
    </tr>
    <tr><img src="assets/buildings/chantier.png" alt="imageChantier"/></tr>
    <tr><button (click)="repair()">Réparer son bateau</button></tr>
    <tr><button (click)="buyShip()">Acheter un bateau</button></tr>
    </table>
  </div>

  <button (click)="leave()">Partir en mer</button>