<div id="ile-jungle">
  <div id="ile-resume" class="mb-1">
    <span
      ><i>Jour : </i><b>{{ partie.duree }}</b> -&nbsp;
    </span>
    <span *ngIf="partie.membres[0]">
      <i>Capitaine : </i><b>{{ partie.membres[0].pirate?.nom }}</b> -&nbsp;
    </span>
    <span *ngIf="partie.ile?.mer"
      ><i>Ile : </i><b>{{ partie.ile?.nom }} ({{ partie.ile?.mer }})</b></span
    >
  </div>

  <div id="ile-content" class="mt-1">
    <div id="ile-content-left">
      <div id="ile-batiments-disponibles" *ngIf="partie.joursRestants != 0">
        <div id="text-batiments" align="center">
          <span>Bâtiments disponibles</span>
        </div>
        <div id="ile-batiments">
          <div *ngIf="ile.auberge && partie.joursRestants! > 0">
            <table>
              <tr>
                <img src="assets/buildings/auberge.png" alt="imageAuberge" />
              </tr>
              <tr>
                <th>Auberge</th>
              </tr>
              <tr *ngFor="let m of partie.membres">
                <td>
                  <img
                    class="img-pirate"
                    src="../../assets/pirates/{{ m.pirate?.nom }}.png"
                    alt=""
                  />
                  <b [ngStyle]="{'color':getColorByTier(m.pirate?.tier)}">{{m.pirate?.tier}}☆ {{ m.pirate?.nom }}</b> - PV {{ m.pv }} / {{ m.pirate?.pv }}<span *ngIf="m.pirate?.fruit"
                    ><img class="icon-fruit" src="../../assets/icons/fruit.png"
                  /></span>
                </td>
                <td>
                  <button (click)="rest(m)">Soigner</button>
                </td>
              </tr>
            </table>
          </div>

          <div *ngIf="ile.taverne && partie.joursRestants! > 0">
            <table>
              <tr>
                <img src="assets/buildings/taverne.png" alt="imageTaverne" />
              </tr>
              <tr>
                <th>Taverne</th>
              </tr>
              <tr *ngFor="let p of pirates">
                <td>
                  <img
                    class="img-pirate"
                    src="../../assets/pirates/{{ p.nom }}.png"
                    alt=""
                  />
                  <b [ngStyle]="{'color':getColorByTier(p.tier)}">{{p.tier}}☆ {{ p.nom }}</b> - {{ p.pv }} PV - {{ p.power }} Force
                  <span *ngIf="p.fruit"
                    ><img class="icon-fruit" src="../../assets/icons/fruit.png"
                  /></span>
                </td>
                <td>
                  <button (click)="recruit(p)">
                    Recruter pour {{ p.prime }}฿
                  </button>
                </td>
              </tr>
            </table>
          </div>

          <div *ngIf="ile.chantier && partie.joursRestants! > 0" id="chantier">
            <table>
              <tr>
                <img src="assets/buildings/chantier.png" alt="imageChantier" />
              </tr>
              <tr>
                <th>Chantier naval</th>
              </tr>
              <tr *ngFor="let b of bateaux">
                <td>
                  <b [ngStyle]="{'color':getColorByTier(b.tier)}">{{b.tier}}☆ {{ b.nom }}</b> - Capacite : {{ b.capacite }} - Robustesse :
                  {{ b.robustesse }}
                </td>
                <td>
                  <button (click)="buyShip(b)">
                    Acheter pour {{ b.prix }}฿
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <b>Mon navire : </b>{{ partie.navire?.bateau?.nom }} -
                  Robustesse : {{ partie.navire?.robustesse }} /{{
                    partie.navire?.bateau?.robustesse
                  }}
                  - Capacité :
                  {{ partie.navire?.bateau?.capacite }}&nbsp;&nbsp;
                </td>
                <td>
                  <button (click)="repair()">
                    Réparer bateau (+2 robustesse) pour 5฿
                  </button>
                </td>
              </tr>
            </table>
          </div>
          <br />
        </div>
      </div>

      <div id="ile-next" *ngIf="partie.joursRestants == 0">
        <div>Choisir une destination</div>
        <br />
        <div *ngFor="let d of destinations">
          {{ d.nom }} ({{ d.mer }})
          <span title="Taverne" *ngIf="d.taverne"
            ><img
              class="img-batiments"
              src="../../assets/buildings/taverne.png"
          /></span>
          <span title="Taverne" *ngIf="!d.taverne"
            ><img
              class="img-batiments"
              src="../../assets/buildings/notaverne.png"
          /></span>
          <span title="Auberge" *ngIf="d.auberge"
            ><img
              class="img-batiments"
              src="../../assets/buildings/auberge.png"
          /></span>
          <span title="Auberge" *ngIf="!d.auberge"
            ><img
              class="img-batiments"
              src="../../assets/buildings/noauberge.png"
          /></span>
          <span title="Chantier" *ngIf="d.chantier"
            ><img
              class="img-batiments"
              src="../../assets/buildings/chantier.png"
          /></span>
          <span title="Chantier" *ngIf="!d.chantier"
            ><img
              class="img-batiments"
              src="../../assets/buildings/nochantier.png"
          /></span>
          Durée du trajet : {{ d.attente }} jour(s)
          <button (click)="leave(d)">Partir vers cette destination</button>
        </div>
      </div>
    </div>

    <div id="ile-content-right">
      <div id="text-duree" align="center" class="mb-2">
        <span>Durée restante : {{ partie.joursRestants }} jour(s)</span>
      </div>
      <div class="mb-5" id="ile-jour-suivant" *ngIf="partie.joursRestants != 0">
        <button (click)="nextDay()" *ngIf="partie.joursRestants! > 0">
          Passer au jour suivant
        </button>
      </div>
      <img src="../../assets/buildings/ile.png" />
      <stat-equipage></stat-equipage>
    </div>
  </div>
</div>
