
<table class="card flex-container">
  <tr id="td-message"><p>Choisissez un capitaine</p></tr>
  <tr>
    <td *ngFor="let c of capitaines" (click)="chooseCapitaine(c)" class="card-cell">
      <div class="card-container">
        <div class="card-background">
          <div class="card-frame">
            <div class="frame-art">
              <img src="assets/pirates/{{c.nom}}.png" alt="">
            </div>

            <div class="frame-header">
              <h1>{{ c.nom }}</h1>
            </div>
            <div class="frame-textbox">
              <table>
                <tbody>
                  <tr>
                    <td id="icon_power"></td>
                    <th>Force</th>
                    <td>{{ c.power }}</td>
                  </tr>
                  <tr>
                    <td id="icon_pv"></td>
                    <th>Points de vie</th>
                    <td>{{ c.pv }}</td>
                  </tr>
                  <tr *ngIf="c.fruit">
                    <td id="icon_fruit"></td>
                    <th>Fruit du démon</th>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="frame-prime" id="icon_prime">{{c.prime}}</div>
          </div>
        </div>
      </div>
    </td>
</table>
