<div class="card-body">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>PV</th>
        <th>Force</th>
        <th>Or</th>
        <th>Fruit du démon</th>
        <th>Choisir ce capitaine</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of capitaines">
        <td>{{ c.nom }}</td>
        <td>{{ c.pv }}</td>
        <td>{{ c.power }}</td>
        <td>{{ c.prime }}</td>
        <td>{{ c.fruit }}</td>
        <td>
          <a (click)="chooseCapitaine(c)" class="btn btn-primary"
            ><i class="bi bi-person-raised-hand"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<table class="card flex-container">
  <tr>
    <td *ngFor="let c of capitaines" (click)="chooseCapitaine(c)">
      <div class="card-container">
        <div class="card-background">
          <div class="card-frame">
            <div class="frame-art"></div>

            <div class="frame-header">
              <h1>{{ c.nom }}</h1>
            </div>
            <div class="frame-textbox">
              <table>
                <tbody>
                  <tr>
                    <th>Force</th>
                    <td>{{ c.power }}</td>
                  </tr>
                  <tr>
                    <th>Points de vie</th>
                    <td>{{ c.pv }}</td>
                  </tr>
                  <tr *ngIf="c.fruit">
                    <th>Fruit</th>
                    <td>{{ c.fruit }}</td>
                  </tr>
                  <tr>
                    <th>Prime</th>
                    <td>{{ c.prime }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </td>
</table>
